* {
    box-sizing: border-box;
}

body {
    position: relative;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}

.contact_button,
.btn-submit {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.btn-submit:hover,
.contact_button:focus,
.btn-submit:focus {
    background-color: #d3573c;
    color: black;
}

.contact_button {
    margin: 0 auto;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 2rem;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem;
}

form textarea {
    height: 144px;
}

form .error {
    display: none;
    color: rgb(143, 1, 1);
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}
.photograph-header .description-container {
    margin: 0 0 0 2rem;
}
.photograph-header h2 {
    color: #d3573c;
    font-size: 52px;
    margin: 0.5rem 0 0 0;
}

h3,
.fa-heart,
.likes {
    color: #901c1c;
    font-size: 1.5rem;
    margin: 0;
}

.photograph-header p {
    font-size: 0.8rem;
    margin: 0.2rem 0 0 0;
}

.photograph-header .img-container {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 2rem 0 0;
}

.photograph-header img {
    aspect-ratio: 1/1;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.filter {
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 1rem auto;
}
.filter i {
    margin-left: 1rem;
}
.dropdown {
    position: absolute;
    left: 77.5px;
    top: 0px;
    display: none;
    margin-left: 1rem;
    background-color: #901c1c;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.dropdown li {
    border-top: solid 1px white;
    padding: 1rem;
    width: 143px;
}
.dropdown li:first-child {
    border-top: none;
}
.filter-button {
    display: flex;
    justify-content: space-between;
    width: 143px;
    padding: 1rem;
    margin-left: 1rem;
    background-color: #901c1c;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.galery {
    margin: 4rem auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.galery .media-container {
    width: 32%;
}
.media-container img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.mediaDescription-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mediaDescription-container .likes-container {
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
